body {
  background: url("../stardust.png");
  color: #666;
  font-family: arial, sans serif;
}
h1 {
  font-family: 'Amatic SC', cursive;
  color: #fff;
  text-align: center;
  font-size: 300%;
}
p {
  font-size: 120%;
  text-align: center;
}
div {
  background-color: rgba(255,255,255,0.8);
  width: 60%;
  margin: auto;
  padding: 2%;
  border-radius: 10px;
}
